{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- {% include 'registration/form_template.html' %} -->
                    <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                    
</div>
                    Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.

{% endblock %}
